body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card {
  background: #111827;
  padding: 40px;
  border-radius: 16px;
  width: 420px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.timeRow {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.result {
  margin-top: 20px;
  background: #1f2937;
  padding: 15px;
  border-radius: 10px;
}
